<!doctype HTML>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="../static/semantic.min.css">
        <script src="../static/jquery-3.3.1.min.js"></script>
        <script src="../static/semantic.min.js"></script>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <form class="ui form marginal">
            <div class="field required">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div class="field required">
                <label>E-mail</label>
                <input type="email" placeholder="joe@schmoe.com" required>
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>
    </body>
</html>