body {
    width: 100%;
    background-color: black;
    color: white;
}

.textbox {
    width: 34.08%;
    margin-left: 8%;
    margin-top: 2%;
}

.textboxes {
    display: flex;
}

h1 {
    text-align: center;
}