<!doctype HTML>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/static/semantic/semantic.min.css">
        <script src="../static/semantic/jquery-3.3.1.min.js"></script>
        <script src="../static/semantic/semantic.min.js"></script>
        <link rel="stylesheet" href="../static/bounty.css">
    </head>
    <body>
        {% for x, elem in enumerate(untranslatedArticles) %}
            {% if x % 2 == 0 %}
                <div class="article">
                    <p class="one">{{elem.prettyName}}</p>
                    <p class="two {{["lone", "ltwo", "lthree", "lfour"][len(str(elem.bounty))-1]}}">{{elem.bounty}}</p>
                </div>
            {% else %}
                <div class="article2">
                    <p class="one">{{elem.prettyName}}</p>
                    <p class="two {{["lone", "ltwo", "lthree", "lfour"][len(str(elem.bounty))-1]}}">{{elem.bounty}}</p>
                </div>
            {% endif %}
        {% endfor %}
    </body>
</html>