<!doctype HTML>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/static/semantic/semantic.min.css">
        <script src="../static/semantic/jquery-3.3.1.min.js"></script>
        <script src="../static/semantic/semantic.min.js"></script>
        <link rel="stylesheet" href="../static/bounty.css">
        <meta charset="UTF-8">
        <title>Bounty</title>
    </head>
    <body>
        <header>
            <div class="ui menu">
                <a class="item" href="/">Home</a>
                <a class="item" href="/bounty">Bounty</a>
                <div class="right menu">
                    <a class="item" href="/logout">Logout</a>
                    <a class="item" href="/login">Sign In</a>
                    <a class="item" href="/signup">Sign up</a>
                    <form class="ui search" action="/search" id="sform" method="get">
                        <input class="prompt"  type="text" name="s" id="stext" placeholder="search">
                        <input type="submit" style="display: none;">
                    </form>
                </div>
            </div>
        </header>
        <div class="table">
            <div class="header">
                <p class="headerone">Article Name</p>
                <p class="headertwo">Article Bounty</p>
            </div>
            {% for x, elem in enumerate(untranslatedArticles) %}
                {% if x % 2 == 0 %}
                    <div class="article">
                        <p class="headerone"><a href="/p/{{elem.name}}">{{elem.prettyName}}</a></p>
                        <p class="headertwo {{["lone", "ltwo", "lthree", "lfour", "lfive", "lsix"][len(str(elem.bounty))-1]}}">{{elem.bounty}}</p>
                    </div>
                {% else %}
                    <div class="article2">
                        <p class="headerone"><a href="/p/{{elem.name}}">{{elem.prettyName}}</a></p>
                        <p class="headertwo {{["lone", "ltwo", "lthree", "lfour", "lfive", "lsix"][len(str(elem.bounty))-1]}}">{{elem.bounty}}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </body>
</html>