<!doctype HTML>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="../static/semantic/semantic.min.css">
        <script src="../static/semantic/jquery-3.3.1.min.js"></script>
        <script src="../static/semantic/semantic.min.js"></script>
        <link rel="stylesheet" href="../static/login.css">
    </head>
    <body>
        <header>
            <div class="ui menu">
                <a class="item">Home</a>
                <a class="item">Leaderboards</a>
                <div class="right menu">
                    <a class="item">Sign In</a>
                    <a class="item">fo</a>
                </div>
            </div>
        </header>
        <form class="ui form marginal" action="https://en.wikipedia.org/w/api.php?action=clientlogin&format=jsonfm" method="post">
            <input type="url" name="loginreturnurl" value="localhost:5000" style="display:none;">A
            <input type="text" name="logintoken" value="3a327776c8c9f33937963a0c362396fc5aea167e+\" style="display:none;">
            <input type="checkbox" name="rememberMe" style="display:none;" checked>
            <div class="field required">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <!--<div class="field required">
                <label>E-mail</label>
                <input type="email" placeholder="joe@schmoe.com" required>
            </div>-->
            <div class="field required">
                <label>Password</label>
                <input type="password" name="password" placeholder="joe@schmoe.com" required>
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>
    </body>
</html>