<!doctype HTML>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="../static/semantic/semantic.min.css">
        <script src="../static/semantic/jquery-3.3.1.min.js"></script>
        <script src="../static/semantic/semantic.min.js"></script>
        <link rel="stylesheet" href="../static/login.css">
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body style="color: white;">
        <header>
            <div class="ui menu">
                <a class="item" href="/">Home</a>
                <a class="item" href="#">Leaderboards</a>
                <div class="right menu">
                    <a class="item" href="/login">Sign In</a>
                    <a class="item" href="/signup">Sign up</a>
                    <form class="ui search" action="/search" id="sform" method="get">
                        <input class="prompt"  type="text" name="s" id="stext" placeholder="search">
                        <input type="submit" style="display: none;">
                    </form>
                </div>
            </div>
        </header>
        {% if message is not none%}
            <div class="ui small modal" style="text-align: center; background-color: {{colors[0]}}; color: {{colors[1]}}">
                <h1>{{ message }}</h1>
            </div>
            <script>
                $('.ui.modal').modal('show');
            </script>
        {% endif %}
        <form class="ui form marginal logform" action="/login" method="post">
            <div class="field required">
                <label>Username</label>
                <input type="text" placeholder="username" name="name" required>
            </div>
            <div class="field required">
                <label>Password</label>
                <input type="password" placeholder="password" name="passw" required>
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>
        <h3 style="text-align: center;" class="greeting">Don't have an account? Click <a href="/signup" style="color: rgb(242, 192, 192);">here</a> to sign up!</h3>
    </body>
</html>