<!DOCTYPE html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="../static/semantic/semantic.min.css">
        <script src="../static/semantic/jquery-3.3.1.min.js"></script>
        <script src="../static/semantic/semantic.min.js"></script>
        <link type="text/css" rel="stylesheet" href="../static/pageview.css">
        <meta charset="UTF-8">
        <title>Translate</title>
    </head>
    <body>
        <header>
            <div class="ui menu">
                <a class="item" href="/">Home</a>
                <a class="item" href="/bounty">Bounty</a>
                <div class="right menu">
                    <a class="item" href="/login">Sign In</a>
                    <a class="item" href="/signup">Sign up</a>
                    <form class="ui search" action="/search" id="sform" method="get">
                        <input class="prompt"  type="text" name="s" id="stext" placeholder="search">
                        <input type="submit" style="display: none;">
                    </form>
                </div>
            </div>
        </header>
        <div class="pagename-body">
            <h1 class="pagename">{{page.prettyName}}</h1>
            <h3><a href="https://en.wikipedia.org/wiki/{{page.name}}">Check out on Wikipedia.</a></h3>
        </div>
        <div class="info">
            <form class="bouton" action="/translate/{{page.name}}" method="get">
                <button class="ui center button" type="submit">Translate</button>
            </form>
            <div class="translations box">
                <h2>Translations</h2>
                {% for x, elem in enumerate(page.translations) %}
                    <div class="translation">
                        <h3>{{x + 1}}</h3>
                        <p><a href="/t/{{elem}}">{{handler.get_submission(elem).user.name}}</a></p>
                    </div>
                {% endfor %}
            </div>

        </div>
    </body>
</html>