<!DOCTYPE html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="../static/semantic/semantic.min.css">
        <script src="../static/semantic/jquery-3.3.1.min.js"></script>
        <script src="../static/semantic/semantic.min.js"></script>
        <link type="text/css" rel="stylesheet" href="../static/translation.css">
        <meta charset="UTF-8">
        <title>Translate</title>
    </head>
    <body>
        <header>
            <div class="ui menu">
                <a class="item" href="#">Home</a>
                <a class="item" href="#">Leaderboards</a>
                <div class="right menu">
                    <a class="item" href="#">Sign In</a>
                    <a class="item" href="#">Info</a>
                </div>
            </div>
        </header>
        <div class="pagename-body">
            <h1 class="pagename">{{page.prettyName}}</h1>
        </div>
        <div class="info">
            <div class="translations">
                {% for x, elem in enumerate(page.translations) %}
                    <div class="translation">
                        <h3>{{x + 1}}</h3>
                        <p><a href="/t/{{elem}}">{{handler.get_submission(elem).user.name}}</a></p>
                    </div>
                {% endfor %}
            </div>
            <form action="/translate/{{page.name}}" method="get">
                <button class="ui center button" type="submit">Translate</button>
            </form>
        </div>
    </body>
</html>