<!doctype HTML>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/static/semantic/semantic.min.css">
        <script src="../static/semantic/jquery-3.3.1.min.js"></script>
        <script src="../static/semantic/semantic.min.js"></script>
        <link rel="stylesheet" href="../static/search.css">
        <meta charset="UTF-8">
        <title>Search Results</title>
    </head>
    <body>
        <header>
            <div class="ui menu">
                <a class="item" href="/">Home</a>
                <a class="item" href="#">Leaderboards</a>
                <div class="right menu">
                    <a class="item" href="#">Sign In</a>
                    <a class="item" href="#">Info</a>
                </div>
            </div>
        </header>
        <div class="searchresultscontainer box">
            <h1 class="articlename">Article Name</h1>
            <div class="articleinfo">
                <!-- já þetta þarf að vera hérna ég veit ekkert afhverju !-->
                <h3 class="articlebounty">800 Bounty</h3>
                <h3 class="articlelength">1337 words</h3>
                <h3 class="articleviews">8008135 Views</h3>
            </div>
        </div>
        <div class="searchoptionscontainer box">
            <h3 class="optionstitle">Filter Options</h3>
            <div class="viewsslider">
                <h3 class="viewsslidername">Filter By views</h3>
                <slider>???</slider>
            </div>
            <div class="wordslider">
                <h3 class="wordslidername">Filter By Length (in words)</h3>
                <slider>???</slider>
            </div>
            <div class="bountyslider">
                <h3 class="bountyslidername">Filter By Bounty reward</h3>
                <slider>???</slider>
            </div>
        </div>
    </body>
</html>