<!doctype HTML>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/static/semantic/semantic.min.css">
        <script src="../static/semantic/jquery-3.3.1.min.js"></script>
        <script src="../static/semantic/semantic.min.js"></script>
        <script src="../static/semantic/nouislider.js"></script>
        <link rel="stylesheet" href="../static/semantic/nouislider.css">
        <link rel="stylesheet" href="../static/search.css">
        <meta charset="UTF-8">
        <title>Search Results</title>
    </head>
    <body>
        <header>
            <div class="ui menu">
                <a class="item" href="/">Home</a>
                <a class="item" href="#">Leaderboards</a>
                <div class="right menu">
                    <a class="item" href="#">Sign In</a>
                    <a class="item" href="#">Info</a>
                </div>
            </div>
        </header>
        <div class="searchresultscontainer box">
            <h1>Search Results</h1>
        {% for x, elem in enumerate(results) %}
            <!--<div class="searchresultscontainer box" id="article{{x}}">
                <h1 class="articlename"></h1>
                <div class="articleinfo">
                    <div class="diviv"></div> <!-- já þetta þarf að vera hérna ég veit ekkert afhverju !-->
                    <!--<h3 class="articlebounty"> Bounty</h3>
                    <h3 class="articlelength"> words</h3>
                    <h3 class="articleviews"> Views</h3>
                </div>
            </div>-->
            <div class="article">
                <h1 class="articlename">{{elem["name"]}}</h1>
                <div class="articleinfo">
                    <div class="diviv"></div> <!-- já þetta þarf að vera hérna ég veit ekkert afhverju !-->
                    <h3 class="articlebounty">{{elem["views"]//100}} Bounty</h3>
                    <h3 class="articlelength">{{elem["length"]}} words</h3>
                    <h3 class="articleviews">{{elem["views"]}} Views</h3>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="searchoptionscontainer box">
            <h2 class="optionstitle">Filter Options</h2>
            <div class="viewsslider jsbox">
                <h3 class="viewsslidername">Filter By views</h3>
                <div class="" id="slider"></div>
            </div>
            <div class="wordslider jsbox">
                <h3 class="wordslidername">Filter By Length (in words)</h3>
                <div class="" id="slider2"></div>
            </div>
            <div class="bountyslider jsbox">
                <h3 class="bountyslidername">Filter By Bounty reward</h3>
                <div class="" id="slider3"></div>
            </div>
        </div>
        <script type="text/javascript" src="../static/search.js"></script>
        <script type="text/javascript">
            MYLIBRARY.init({{results}});
            MYLIBRARY.results();
        </script>
    </body>
</html>