<!doctype HTML>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/static/semantic/semantic.min.css">
        <script src="../static/semantic/jquery-3.3.1.min.js"></script>
        <script src="../static/semantic/semantic.min.js"></script>
        <script src="../static/semantic/nouislider.js"></script>
        <link rel="stylesheet" href="../static/semantic/nouislider.css">
        <link rel="stylesheet" href="../static/search.css">
        <meta charset="UTF-8">
        <title>Search Results</title>
    </head>
    <body>
        <header>
            <div class="ui menu">
                <a class="item" href="/">Home</a>
                <a class="item" href="/bounty">Bounty</a>
                <div class="right menu">
                    <a class="item" href="/login">Sign In</a>
                    <a class="item" href="/signup">Sign up</a>
                    <form class="ui search" action="/search" id="sform" method="get">
                        <input class="prompt"  type="text" name="s" id="stext" placeholder="search">
                        <input type="submit" style="display: none;">
                    </form>
                </div>
            </div>
        </header>
        <div class="searchresultscontainer box">
            <h1>Search Results</h1>
        {% for x, elem in enumerate(results) %}
            <div class="article" id="article{{x}}">
                <h1 class="articlename"><a href="/p/{{elem['name']}}">{{elem["name"]}}</a></h1>
                <div class="articleinfo">
                    <div class="diviv"></div> <!-- já þetta þarf að vera hérna ég veit ekkert afhverju !-->
                    <h3 class="articlebounty">{{elem["views"]//100}} Bounty</h3>
                    <h3 class="articlelength">{{[elem["length"], 0][elem["length"] == ""]}} words</h3>
                    <h3 class="articleviews">{{elem["views"]}} Views</h3>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="searchoptionscontainer box">
            <h2 class="optionstitle">Filter Options</h2>
            <div class="viewsslider jsbox">
                <h3 class="viewsslidername">Filter By views</h3>
                <div onmousemove="firstSlider()" class="" id="slider"></div>
            </div>
            <div class="wordslider jsbox">
                <h3 class="wordslidername">Filter By Length (in words)</h3>
                <div onmousemove="secondSlider()" class="" id="slider2"></div>
            </div>
            <div class="bountyslider jsbox">
                <h3 class="bountyslidername">Filter By Bounty reward</h3>
                <div onmousemove="thirdSlider()" class="" id="slider3"></div>
            </div>
        </div>
        <script type="text/javascript">
            results = [{% for x, elem in enumerate(results) %}{name:"{{elem["name"]}}",translated:"{{elem["translated"]}}",views:{{elem["views"]}},length:{{[elem["length"], 0][elem["length"] == ""]}}}{% if x != len(results) - 1%},{% endif %}{% endfor %}];
            maxViews = {{get_max_views(results)}}+100;
            maxLength = {{get_max_length(results)}}+100;
            maxBounty = {{get_max_bounty(results)}}+10;
        </script>
        <script type="text/javascript" src="../static/search.js"></script>
    </body>
</html>