<!DOCTYPE html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="../static/semantic/semantic.min.css">
        <script src="../static/semantic/jquery-3.3.1.min.js"></script>
        <script src="../static/semantic/semantic.min.js"></script>
        <link type="text/css" rel="stylesheet" href="../static/translation.css">
        <meta charset="UTF-8">
        <title>Translate</title>
    </head>
    <body>
        {% include 'header.html' %}
        <div class="textboxes">
            <div class="textbox">
                <h1>Translate</h1>
                <textarea name="Text1" cols="90" rows="50" id="translate" value="hello"></textarea>
            </div>
            <div class="textbox">
                <h1>Preview</h1>
                <textarea name="Text1" cols="90" rows="50" id="preview"></textarea>
            </div>
        </div>
    <script src="../static/translation.js"></script>
    </body>
</html>