<!DOCTYPE html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="../static/semantic/semantic.min.css">
        <script src="../static/semantic/jquery-3.3.1.min.js"></script>
        <script src="../static/semantic/semantic.min.js"></script>
        <link type="text/css" rel="stylesheet" href="../static/translation.css">
        <meta charset="UTF-8">
        <title>Translate</title>
    </head>
    <body>
        <header>
            <div class="ui menu">
                <a class="item" href="/">Home</a>
                <a class="item" href="/bounty">Bounty</a>
                <div class="right menu">
                    <a class="item" href="/login">Sign In</a>
                    <a class="item" href="/signup">Sign up</a>
                    <form class="ui search" action="/search" id="sform" method="get">
                        <input class="prompt"  type="text" name="s" id="stext" placeholder="search">
                        <input type="submit" style="display: none;">
                    </form>
                </div>
            </div>
        </header>
        <div class="textboxes">
            <div class="center textbox">
                <h1>Translate</h1>
                <textarea form="tform" name="Text1" rows=25 style="width:100%;" id="translate"></textarea>
                <form class="ui center" action="/translate/{{pagename}}" method="post" id="tform" style="width=100%;">
                    <input type="text" name="pagename" value="{{pagename}}" style="display: none;">
                    <button class="ui center button" type="submit">Submit</button>
                </form>
            </div>
            <div class="textbox">
                <h1 class="center">Preview</h1>
                <div class="bgwhite" id="preview">
                </div>
            </div>
        </div>
    <script src="../static/translation.js"></script>
    </body>
</html>